
/* Header */

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header nav {
  display: flex;
  justify-content: flex-end;
  
}

a {
    color: #000; /* for browsers that don't support 'inherit' as a color value */
    color: inherit;
}

header p {
  color: black;
  padding: 0 20px;
  font-weight: 700;
  margin: 0;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1em;
}

/* Homepage*/

#homepage {
  display: flex;
  align-items: center;
  background-image: url(images/header_bg.jpg);
  background-size: cover;
  height: 600px;
}



#homepage h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 7rem;
  font-weight: 900;
  color: black;
}


#homepage h3 {
  margin: 40px 0 20px;
  color: black;
  font-size: 50px;
  font-family: 'Tangerine', serif;
  font-style:italic;
  font-weight: 550;
}

#title {
  box-shadow:5px 5px 5px black; 
  background-color: white;
  border: solid;
  margin-bottom: 3rem;
}





/* Galleria*/


.gallery_container img {

  margin: 3rem;
  width: 50%;
  border: solid;
  border-width: .3rem;
  border-color: darkslateblue;
  

}

/*.gallery_container p{
  color: black;
  padding: 0 0 0 0;
  font-weight: 700;
  margin: 0;
  font-family: 'Tangerine', serif;
  font-style:italic;
  
}*/


.image_details_container h2{
	font-family: 'Tangerine', serif;
	font-style:italic;
	font-size: 60px;
}


.big img{
  margin: auto;

  width:100%;
}


.image_details_container{
border: solid;
padding: 10rem;
margin: 15rem;
border-color:darkslateblue;

}





/*.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
} */

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}


.container_bio p {
	margin: 40px;
	font-size: 24px;

}

#circle img{
  border-radius: 50%;
}



.aligncenter {
    text-align: center;
}

