/* Body */
 
body{
   font-size: 10px;
  
}


/* Top navbar */

/* Style the links inside the navigation bar */

.topnav{
  padding: 2rem 2rem;  
}

.topnav nav {
  display: flex;
  justify-content: flex-end;
  
}

.topnav a {
  float: right;
  color: #b2b6b4;
  text-align: center;
  padding: 1.5rem 2rem;  
  font-size: 1.5rem;  
  /* font-weight: 700; */
  margin: 0;
  font-family: 'Work Sans', sans-serif;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #783934;
  color: white;
}



/* Header*/

.header {
  display: flex;
  align-items: center;
  background-image: url(images/header_bg.jpg);
  background-size: cover;
  height: 600px;
  
}



.header h1 {
  font-family:  'Tangerine', serif;
  font-size: 10rem;
  /* font-weight: 900; */
  color: black;
}


.header h3 {
  margin: 40px 0 20px;
  color: black;
  font-size: 50px;
  font-family: 'Tangerine', serif;
  font-display: block;
  font-style:italic;
  font-weight: 550;
}

#title {
  box-shadow:5px 5px 5px black; 
  background-color: white;
  border: solid;
  border-color: white;
  margin-bottom: 3rem;
  min-width: 500px;
  
}


/* Galleria*/

.gallery_container {
  width: 100%;
  height: auto;
}

.image_details_container{
  border: solid;
  margin-top: 5em;
  margin-left: 15%;
  width: 70%;
  height: auto;
  border-color:#c3ccd4;
  box-shadow:5px 5px 5px black; 
  }

  

.image_details_container h2{
	font-family: 'Tangerine', serif;
	font-style:italic;
  font-size: 7rem;
  margin-bottom: 7%;
}
.image_details_container img {
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: 5%;
  width: 70%;
  max-width: 625px;
  border: solid;
  border-width: .3rem;
  border-color: #69869e;
}

.big img{
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  width: 90%;
  max-width: 900px;
  border: solid;
  border-width: .3rem;
  border-color: #69869e;
}

#circle img{
  border-radius: 50%;
}

.aligncenter {
    text-align: center;
}


/* text-container */

.text-container{
  
  border: solid;
  margin-top: 5em;
  margin-left: 15%;
  margin-bottom: 10%;
  width: 70%;
  height: auto;
  border-color:#c3ccd4;
  box-shadow:5px 5px 5px black; 

}

.text-container h2{
  font-family: 'Tangerine', serif;
	font-style:italic;
  font-size: 7rem;
  margin-bottom: 4%;
  margin-top:4%;
}

.text-container h3{
  font-family: 'Tangerine', serif;
	font-style:italic;
  font-size: 5rem;
  margin-bottom: 4%;
  margin-top:4%;
}


.text-container img{
  margin-right: 15%;
  margin-left: 15%;
  
  width: 70%;
  max-width: 625px;
  border: solid;
  border-width: .3rem;
  border-color: #69869e;
}

.text-container p{
  font-style: 'Work Sans', sans-serif;
  font-size: 2rem;
  margin-top: 5%;
  margin-left: 15%;
  margin-bottom: 5%;
  width: 70%;
}

.main-text p{
  text-align: justify;
}

/* Meditazioni */

.columns{
  display: flex;
}

/* Contatti */

.header p{
  font-family: 'Work Sans', sans-serif;
  font-size: 2rem;
  margin-top: 2%;
  margin-bottom: 2%;

}



/* Footer */

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}





